.current_location {
    display: flex;
}

.current_location img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.current_location p {
    color: #B5B3B3;
}

.search_bar {
    display: flex;
    align-items: center;
}

.search_bar img{
    width: 25px;
    height: 25px;
    position: absolute;
    margin-left: 10px;
}

.search_bar input{
    width: 500px;
    height: 40px;
    color: #b5b3b3;
    background-color: #1E1E1E;
    border: 0;
    border-radius: 25px;
    padding: 4px 40px;
    justify-content: center;
}

.temp button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.c_unit {
    margin-right: 5px;
    background-color: #1E1E1E;
}

.f_unit {
    margin-left: 5px;
    background-color: #1E1E1E;
}

.profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.selected {
    background-color: #3d4145;
}