* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #FFFFFF;
  box-sizing: border-box;
}

body {
  background-color: #2A2A2A;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.container {
  background-color: #100F13;
  min-width: 90vw;
  min-height: 90vh;
  border-radius: 25px;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 25px 25px 0 0;
  padding: 2rem 0;
  margin: 0 2.8rem;
}

.content {
  margin: -1rem 3rem 3rem;
  display: flex;
}

.left_content {
  flex: 1;
}

.right_content {
  margin-top: 2rem;
  margin-left: 1rem;
}

.loading_container {
  width: 90vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading_container p {
  font-size: 5rem;
  font-weight: 300;
  font-family: serif;
}