* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #FFFFFF;
  box-sizing: border-box;
}

body {
  background-color: #2A2A2A;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.container {
  background-color: #100F13;
  min-width: 90vw;
  min-height: 90vh;
  border-radius: 25px;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 25px 25px 0 0;
  padding: 2rem 2rem;
}

