.todays_date {
    font-size: 1.2rem;
    text-decoration: underline;
    text-underline-offset: 5px;
    margin-bottom: 1.2rem;
    margin-top: 0.6rem;
    color: #B5B3B3;
}

.separator {
    display: flex;
    justify-content: center;
}

.vertical_line {
    width: 1px;
    height: 200px;
    background: white;
}

.main_information {
    width: 35%;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 3rem;
}

.secondary_information {
    width: 35%;
    height: 200px;
    margin: 0rem 3rem;
    margin-left: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main_information img {
    width: 180px;
    height: 180px;
}

.main_information div {
    display: flex;
    flex-direction: column;
}

.main_information div span {
    font-size: 6rem;
}

.main_information div p {
    font-size: 1.5rem;
    font-weight: 100;
}

.secondary_information div {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

.secondary_information div span {
    font-size: 3rem;
}

.secondary_information div label {
    font-size: 1.3rem;
    text-align: center;
    font-weight: 100;
}

.todays_highlights {
    font-size: 1.2rem;
    text-decoration: underline;
    text-underline-offset: 5px;
    margin-top: 3rem;
    margin-bottom: 5rem;
    color: #B5B3B3;
}

.highlights {
    display: flex;
}

.highlight_widget {
    height: 150px;
    background: #B5B3B3;
    margin: 0rem 2rem;
    flex: 1;
    border-radius: 20px;
}

.important_cities {
    width: 300px;
    height: 100%;
    background: #B5B3B3;
    border-radius: 20px;
}